<?xml version="1.0"?>
<!--
/**
 * Copyright (c) SQLi (http://www.sqli.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="twint" frontName="twint">
            <module name="SQLi_Twint"/>
        </route>
    </router>
</config>
