// =============================================================================
// Colors
// =============================================================================
$green: #3d8705;
$gold: #8F7247;

$lightgrey: #fafafa;
$grey: #666666;

$black: #000000;
$white: #ffffff;

// =============================================================================
// Breakpoints based on dead devices zone
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// =============================================================================
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1800px;

// =============================================================================
// Fonts
// =============================================================================
$base: 16px;
$fonts: "NespressoLucas", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;