<?xml version="1.0"?>
<!--
/**
 * Copyright (c) SQLi (http://www.sqli.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nespresso" translate="label" sortOrder="0">
            <label>Nespresso</label>
        </tab>
        <section id="import" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Import</label>
            <tab>nespresso</tab>
            <resource>Nespresso_Configuration::import</resource>
            <group id="customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer</label>
                <field id="filename" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Filename</label>
                    <comment>Generic filename that will be take for the import (ex: customer_import.csv)</comment>
                </field>
                <field id="import_folder" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import folder</label>
                    <comment>Folder from where we will import the file inside the /var/import/, put slash at the end (ex: customers_import/, that give us the following location [magento_root]/var/import/customers_import/)</comment>
                </field>
                <field id="anonymous" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Anonymous Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to Yes every possible customer data imported will be anonymous.</comment>
                </field>
                <field id="anonymous_max_length" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Anonymous Max Length</label>
                    <comment>Max length of characters for anonymous mode for Last name and First name fields. Default is 3.</comment>
                    <depends>
                        <field id="anonymous">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
