<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sqli_twint" frontName="admin_twint">
            <module name="SQLi_Twint" before="Magento_Backend" />
        </route>
    </router>
</config>
